.c-profile {
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 3% 4%;
    padding: 1% 4%;
    gap: 5px;
}

.c-profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    border-radius: 100%;
    width: 40%;
}
