/* .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3em;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.flex-container-cards {
    display: flex;
    flex-wrap: wrap;
}

.widget-card {
    display: flex;
    align-items: center;
    /* width: 4em;
    height: 2.5em; */
}
.widget-card-start {
    justify-content: flex-start;
}
.widget-card-end {
    justify-content: flex-end;
}
.widget-card-color {
    color: #F60808;
}

.flex-container-widgets {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 1.5em;
    margin: 0.5em;
    width: auto;
    height: auto;
}

/*
.widget-comment {
    display: flex;
    justify-content: flex-start;
    font-size: 100%;
    /* width: 4em;
    height: 2.5em;
}

.widget-heart {
    display: flex;
    justify-content: flex-end;
    width: 4em;
    height: 2.5em;
    color: #F60808;
}
*/


.container-widget-count {
    position: absolute;
    cursor: pointer;
    color: #FFFFFF;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-widget-count-color {
    background-color: #090979;
}
.container-widget-count-comment{
    top: 50%;
    right: 94%;
}

.container-widget-count-like{
    top: 38%;
    left: 93%;
}


/*  */
/* .container-count-comments {
/* .count-products {
    position: absolute;
    top: 50%;
    right: 94%;
    cursor: pointer;
    background-color: #090979;
    color: #FFFFFF;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-count-like {
/* .count-products {
    position: absolute;
    top: 38%;
    left: 93%;
    cursor: pointer;
    background-color: #090979;
    color: #FFFFFF;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */
/*  */

    /*contiene el 0*/
.widget-count{
/* .count-like { */
/* .contador-productos { */
    font-size: 10px;
    width: 6px;
    height: 15px;
}

@media only screen and (max-width: 480px) {
    .container {
        margin-top: 0.5em;
    }

    .cards-padding{
        padding-top: 0.5em;
        padding-left: 0.2em;
        padding-right: 0em;
    }

    .flex-cards-title {
        /* margin: 2% 15%; */
        display: flex;
        flex-wrap: wrap;
        font-size: 0.7em;
    }

    .flex-cards-text {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.5em;
    }

    .flex-container-widgets {
        margin: 0.3em;
        /* font-size: 1.5em; */
    }
/*
    .widget-comment {
        width: 1.5em;
        height: 1.5em;
        /* font-size: 1.5em;
    }

    .widget-heart {
        width: 1.5em;
        height: 1.5em;
    } */

    .container-widget-count-comment {
        top: 55%;
        right: 84%;
    }

    .container-widget-count-like {
        top: 22%;
        left: 79%;
    }

    /* .contador-productos {
        font-size: 10px;
        width: 6px;
        height: 15px;
    } */

    /* .widget-card {
        width: 1.5em;
        height: 1.5em;
    } */
}

@media only screen and (min-width: 768px) {
    .container-widget-count-comment {
        top: 50%;
        right: 90%;
    }

    .container-widget-count-like {
        top: 22%;
        left: 87%;
    }
}

@media only screen and (min-width: 1024px) {
    .container-widget-count-comment {
        top: 50%;
        right: 92%;
    }

    .container-widget-count-like {
        top: 20%;
        left: 91%;
    }
}

@media only screen and (min-width: 1360px) {
    .container-widget-count-comment {
        top: 50%;
        right: 94%;
    }
    .container-widget-count-like {
        top: 20%;
        left: 93%;
    }
}

@media only screen and (min-width: 1680px) {
    .flex-container-widgets {
        font-size: 2em;
    }
}