.container-size {
    width: 100vw;
    height: 100vh;
}

.container-flex {
    justify-content: center;
    flex-direction: column;
}

.font-size {
    font-size: 4rem;
}

.font-style {
    font-weight: 700;
}

.c-button-style {
    width: 20%;
}