
.c-box-searchBar {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 2% 15%;
}

.c-searchBar-widget {
    display: flex;
    position: absolute;
    padding: 1.6%;
    border-radius: 25px;
    top: 0.1%;
    left: 0.1%;
    cursor: pointer;
    color: #5D5E5F;
    height: 40%;
    width: 2.5%;
}

.c-searchBar-widget:hover {
    color: #A3A2A3;
    background-color: blue;
}

.c-searchBar {
    display: flex;
    padding: 1%;
    flex: 1;
    border: solid;
    padding-left: 2.5em;
    font-size: 1.2em;
    border-radius: 35px;
}

@media only screen and (max-width: 480px) {
    .c-searchBar {
        font-size: 0.7em;
        padding-left: 2.5em;
    }

    .c-searchBar-widget {
        width: 5%;
        height: 40%;
        padding: 2.3%;
        top: 3%;
        left: 1%;
    }
}

@media only screen and (min-width: 1680px) {
    .c-searchBar-widget {
        width: 1.8%;
        height: 40%;
        padding: 1.4%;
    }
}

@media only screen and (min-width: 2280px) {
    .c-searchBar-widget {
        width: 1.5%;
        height: 61.5%;
        padding: 0.8%;
    }
}